<% if @user %>
<h1>Welcome, <%=@user.email.split('@')[0]%>!</h1>
<h4><a href='/session/new'> Sign out </h4>

<form action="/peeps" method="post">
  <label for="peep">
    What would you like to peep?
    <input type="text" name="peep">
  </label>
  <input type="submit" value="Peep!">
</form>
<%end%>
<ul>
  <% @peeps.reverse_each do |peep| %>
    <li class="peep" id="peep-<%= peep.id %>">
      <%= peep.text %> <%= peep.time.strftime('%H:%M, %b %d %Y') %></br>
      <form action="/peeps/<%= peep.id %>" method="post">
        <input type='hidden' name='_method' value='DELETE'/>
          <input type="submit" value="Delete">
        </form>
    </li>
  <% end %>
</ul>
